[submodule "samplesdb/static/webforms2"]
	path = samplesdb/static/webforms2
	url = git://github.com/westonruter/webforms2.git
[submodule "samplesdb/static/gumby"]
	path = samplesdb/static/gumby
	url = git://github.com/dsurgeons/Gumby.git
